@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    @apply text-lg
}

.projects img {
    width: 100%;
}

/* color */
.bg-primary {
    background: #000018;
}

.bg-secondery {
    background: #000028;
}

.bg-accent {
    background: #00001F;
}

.text-accent {
    color: #0000A0;
}


nav li a {
    @apply px-4 py-5 text-lg;
}

nav li a:hover {
    color: #7477FF;
}

.mobile-nav {
    @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-75;
}


/* hero */
h1 {
    font-family: 'Pacifico', cursive;
    line-height: 1.5 !important;
}

